.transaction-details{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(19, 17, 30, 0.5) ;
    /*background-color: white;*/
    height: 40vh;
}

th {
  border: 1px solid rgb(254, 249, 0);
}


  @media screen and (max-width: 576px) {
    .transaction-details{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 12px;
      background-color: rgba(19, 17, 30, 0.5) ;
      height: 60vh;
      width: 100vw;
      overflow: scroll;
  }
  .table-style{
    display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    font-size: 12px;
    background-color:transparent;
    /*padding: 40px;*/
    width: 100vw;
  }
  .column-names{
    font-size: 13px;
}
  }
  